
@{
    ViewBag.Title= "Cliente";
}
@section styles
{
  <style>
           
       table tbody td {
            padding: 6px !important;
          
        }
           
       table  th {
            padding: 10px !important;
          
        }

        .btn-smx {
            padding: 4px 5px !important;
            font-size: 8px !important;
        }

  </style>
                
}
 

<div class="mdc-card">

    <div style="float:right">
        <span>
            <a style="font-size:15px" class="btn btn-success btn-rounded" href="@Url.Action("FormNuevo","Cliente")" title="Nuevo"><i class="fas fa-plus"></i> Nuevo </a>

        </span>
    </div>


    <h2 class="mb-4">Lista de Clientes</h2>
    <div>@ViewBag.usuario</div>


    <form autocomplete="off">
        <div class="row">
            
                    <div class="col-md-2">
                        <label for="Fdesde">Desde</label>
                        <input type="text" id="Fdesde" class="form-control"  />

                    </div>
                    <div class="col-md-2">
                        <label for="Fhasta">Hasta</label>
                        <input type="text" id="Fhasta" class="form-control" />
                    </div>

                    <div class="col-md-3">
                        <label for="Codigo_estado">Cliente</label>
                        <input type="text" id="txtcliente" class="form-control" value="" placeholder="Buscar Cliente" />

                    </div>
                    
                    <div class="col-md-3">
                         <label style="visibility: hidden"> Buscar</label>
                        <input type="button" id="btnbuscarcliente" class="form-control btn btn-primary" value="Buscar" />

                    </div>
                    
          </div>

    </form>

    <br />

    <div class="table-responsive" >

        <table class="table datatable-basic table-hover table-bordered" id="example" style="width:100%">
            <thead class="table-dark">
                <tr>
                    <th> Nro</th>
                   
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Direccion</th>
                    
                    <th class="text-left">Destino</th>

                    <th>Destino</th>

                    <th class="text-left">Destino</th>
                    <th>&nbsp&nbsp&nbsp</th>
                </tr>
            </thead>
            <tbody>
               
            </tbody>
            <tfoot class="table-dark">
                <tr>
                    <th> Nro</th>

                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Direccion</th>

                    <th class="text-left">Destino</th>

                    <th>Destino</th>

                    <th class="text-left">Destino</th>
                    <th>&nbsp&nbsp&nbsp</th>
                </tr>
            </tfoot>
        </table>
    </div>



</div>


@section scripts
{

    <script>

       $(document).ready(function () {

              Listar_Clientes();

      });
        
          
 function Listar_Clientes() {
     let  isMobile = window.matchMedia("(max-width: 767px)").matches;
    

  let url = "@Url.Action("ListarClientes", "Cliente")";
 // var data = { "prioridad": $("#idprioridad").val(), "codigofamilia": $("#idfamilia").val(), "codigocanal": $("#idcanalventa").val() };
   // var data = { "prioridad": $("#idprioridad").val(), "codigofamilia": $("#idfamilia").val(), "codigocanal": $("#idcanalventa").val(), "estado": $("#idestado").val(), "tipocotizacion": tipocotizacion, "operacion": $("#operacionventa").val() };
    //let objet666 = mostrarcarga();

  $.ajax({
      url: url,

      type: 'POST',
      dataType: 'json',
      success: function (data) {
          // Limpiar el DataTable antes de agregar nuevos datos
          console.log("data",data);
          var dataTable = $('#example').DataTable();
          dataTable.clear().draw();

          // Destruir la instancia DataTable existente si ya existe
          if (dataTable) {
              dataTable.destroy();
          }



          // Agregar los nuevos datos al DataTable y dibujar el DataTable
          var dataArr2 = [];
          data.forEach(function (item) {
              
              var rowData = [

                  item.Id,

                  
                  item.Nombre,
                  item.Apellido,
                  item.Direccion,
                  item.Nombre,
                  item.Apellido,
                  item.Direccion,
                  item.Id

                  
                 


              ];
              dataArr2.push(rowData);


          });
                           console.log("array",dataArr2);
          // Inicializar DataTable en el contenedor de la tabla
                 $('#example').DataTable({
                             responsive: false,
                             pageLength: 10,
                   lengthMenu: [5, 10, 25, 50],
                   ordering: true,
                   searching: false,
                   lengthChange: false,
             
              "language": {
                  "lengthMenu": "Mostrar _MENU_ registros",
                  "zeroRecords": "No se encontraron resultados",
                  "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                  "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                  "infoFiltered": "(filtrado de _MAX_ registros en total)",
                  "sSearch": "Buscar:",
                  "oPaginate": {
                      "sFirst": "Primero",
                      "sLast": "Último",
                      "sNext": "Siguiente",
                      "sPrevious": "Anterior"
                  },

              },
                    columnDefs: [
                               {
                                   targets: [7] ,render: function (data, type, row, meta) {

                                           return `<span> <a class='btn btn-primary btn-smx editcoti' href='/Cliente/FormEditar?id=${data}' title='Modificar'><i class='fas fa-pen'></i></a></span>&nbsp
                                                                       <span> <a class='btn btn-danger btn-smx elimina' href='javascript:void(0)' title='Eliminar'><i class='fas fa-trash-alt'></i></a></span>&nbsp `;
                                       
                                       
                                       
                                   }
                               }

                              ],
              "order": [[1, "desc"]]
          }).rows.add(dataArr2).draw();





      },
      error: function (error) {
          console.log("eee",error);
      }
  });

 }

    $('#btnbuscarcliente').on('click', function () {


               Listar_Clientes();


    });

    $(document).on('click', 'a.elimina', function (event) {
                   event.preventDefault();
                   //$(this).parents("tr").remove();
                    //var caja = document.getElementById(codigo_hijo);
                   // var id =parseInt($(this).parents("tr").find("td").eq(0).html())
                   //  var url = "@Url.Action("Eliminar", "Averias")";
                   //  var data = {"id": id};

                    bootbox.confirm({
                              title: "Eliminar Cliente",
                              message: "El Cliente se Eliminara. ¿Desea continuar?",
                               buttons: {
                                   cancel: {
                                       label: '<i class="fa fa-times"></i> Cancelar'
                                   },
                                   confirm: {
                                       label: '<i class="fa fa-check"></i> Confirmar'
                                   }
                               },
                              callback:  function onConfirm(result) {
                                  if (result) {
                                        $.ajax({
                                        url: url ,
                                        type: "POST",
                                        datatype: "json",
                                        data: data,
                                        success: function (datos) {

                                         if (datos.success) {
                                           redirectTo(datos.redirect);
                                          } else {
                                           bootbox.alert(datos.error);
                                           }
                                        }
                                    });
                                  } 
                                  }
                            

                   });

               


               });
        
    </script>
}