@{
    ViewBag.Title = "Form";
}

<div class="mdc-card">
    <div class="row g-3">


        <div class="col-md-4  mb-3">

            <label for="Longitud">Direccion</label>
            <input type='text' value="" id='idcodigoarticulo' class='form-control' />


        </div>

        <div class="col-md-4  mb-3">

            <label for="Longitud">Telefono</label>
            <input type='text' value="" id='idcodigoarticulo7' class='form-control' />


        </div>

        <div class="col-md-4  mb-3">

            <label for="Longitud">Telefono</label>
            <input type='text' value="" id='idcodigoarticulo7' class='form-control' />


        </div>

    </div>

    <div class="row g-3">


        <div class="col-md-4  mb-3">

            <label for="Longitud">Direccion</label>
            <input type='text' value="" id='idcodigoarticulo' class='form-control' />


        </div>

        <div class="col-md-4  mb-3">

            <label for="Longitud">Telefono</label>
            <input type='text' value="" id='idcodigoarticulo7' class='form-control' />


        </div>

        <div class="col-md-4  mb-3">

            <label for="Longitud">Telefono</label>
            <input type='text' value="" id='idcodigoarticulo7' class='form-control' />


        </div>

    </div>

    
</div>


