html, body {
    /*height: 100%;*/
}

html {
    font-size: 14px;
}



.vertical-nav {
    min-width: 14.5rem;
    width: 14.5rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}

body {
    overflow-x: auto;
    background-color: #d9e0e7;
}

html, body {
    max-width: 100%;
    overflow-x: auto;
}

#barra {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    height: 43px;
}

#barra2 {
    min-height: calc(100vh - 43px);
    max-height: calc(100vh - 43px);
    overflow-y: auto;
}

#caja {
    margin-top: 43px;
}

.contenedor {
    margin-top: 43px;
}

.page-content {
    width: calc(100% - 14.2rem);
    margin-left: 14.2rem;
    transition: all 0.4s;
}
.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-text {
    color: rgba(255, 255, 255, .75);
}

    .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
        color: rgba(255, 255, 255, 1);
    }

.navbar-dark .sidebar-toggle {
    color: rgba(255, 255, 255, 1);
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-text {
    color: rgba(0, 0, 0, .75);
}

    .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
        color: rgba(0, 0, 0, 1);
    }

.navbar-light .sidebar-toggle {
    color: rgba(0, 0, 0, 1);
}

.sidebar {
    min-width: 14.5rem;
    max-width: 14.5rem;
    transition: all 0.3s;
}

    .sidebar ul li a {
        display: block;
        padding: .75rem 1rem;
        text-decoration: none;
    }

    .sidebar ul ul a {
        padding-left: 2.5rem;
    }

    .sidebar [data-toggle="collapse"] {
        position: relative;
    }

        .sidebar [data-toggle="collapse"]:before {
            content: "\f0d7";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            position: absolute;
            right: 1rem;
        }
    /*.sidebar [aria-expanded="true"]:before {
    content: "\f0d8";
}*/
    .sidebar.toggled {
        margin-left: -230px;
    }

.sidebar-dark ul li a {
    color: rgba(255, 255, 255, .75);
}

.sidebar-dark ul ul a {
    background: rgba(0, 0, 0, .15);
}

.sidebar-dark ul li a:hover {
    color: rgba(255, 255, 255, 1);
    background: rgba(40, 116, 166, 1);
}

.sidebar-dark ul .active a {
    color: rgba(255, 255, 255, 1);
    background: rgba(40, 116, 166, 1);
}

.sidebar-dark [aria-expanded="true"] {
    background: rgba(0, 0, 0, .15);
}

.sidebar-light ul li a {
    color: rgba(0, 0, 0, .75);
}

.sidebar-light ul ul a {
    background: rgba(0, 0, 0, .05);
}

.sidebar-light ul li a:hover, .sidebar-light ul .active a {
    color: rgba(0, 0, 0, 1);
    background: rgba(0, 255, 255, 1);
}

.sidebar-light [aria-expanded="true"] {
    background: rgba(0, 0, 0, .05);
}

.btn-square {
    border-radius: 0;
}

.btn-pill {
    border-radius: 1.5rem;
}

.btn-icon {
    padding: .375rem .5rem;
}

    .btn-icon.btn-sm {
        padding: .25rem .375rem;
    }

    .btn-icon.btn-lg {
        padding: .5rem .675rem;
    }

.accordion .card-header {
    padding: 0;
}

    .accordion .card-header a {
        padding: .75rem 1.25rem;
        display: block;
        color: inherit;
        text-decoration: none;
    }

    .accordion .card-header .collapse-icon:before {
        content: "\f068";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
    }
/*.accordion .card-header .collapsed .collapse-icon:before {
    content: "\f067";
}*/

/*.content {
    
    width:100%
}*/

/*.dataTables_wrapper {
    padding: 0;
}
.dataTables_wrapper table {
    overflow: hidden;
}
.dataTables_wrapper th, .dataTables_wrapper td {
    vertical-align: middle;
}
.dataTables_wrapper th {
    white-space: nowrap;
}
.dataTables_wrapper .actions {
    white-space: nowrap;
    text-align: right;1366
}*/

/*@media (max-width: 768px) {
    .sidebar {
        margin-left: -230px;
    }
    .sidebar.toggled {
        margin-left: 0;
    }
}*/

.mdc-card {
    /*box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 5px -2px rgba(0, 0, 0, 0.14);*/
    box-shadow: 0 1px 6px -1px rgba(0, 0, 0, 0.15);
    /*display: flex;
    flex-direction: column;
    justify-content: flex-end;*/
    /*display: flex;
    flex-direction: column;
    justify-content: flex-end;*/
    box-sizing: border-box;
    padding: 15px 10px 10px 10px;
    border-radius: 2px;
    overflow: hidden;
    background-color: #fff;
    /*margin-top: 3px !important;*/
    width: 100%;
    /*margin-top:2px;*/
    /*height: 100vh;*/
    /*min-height: calc(100vh - 85px);*/
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.isDisabled {
    cursor: not-allowed;
    opacity: 0.5;
}

    .isDisabled > a {
        color: currentColor;
        display: inline-block; /* For IE11/ MS Edge bug */
        pointer-events: none;
        text-decoration: none;
    }

    .isDisabled > button {
        color: currentColor;
        display: inline-block; /* For IE11/ MS Edge bug */
        pointer-events: none;
        text-decoration: none;
    }

table.fixedHeader-floating {
    background-color: white
}

    table.fixedHeader-floating.no-footer {
        border-bottom-width: 0
    }

table.fixedHeader-locked {
    position: absolute !important;
    background-color: white
}

@media print {
    table.fixedHeader-floating {
        display: none
    }
}

html.dark table.fixedHeader-floating {
    background-color: var(--dt-html-background)
}

html.dark table.fixedHeader-locked {
    background-color: var(--dt-html-background)
}
